# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
# to get the latest compatible packages when creating the project https://github.com/pnpm/pnpm/issues/6463
resolution-mode=highest
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=3VWKvmhI5yJ3t0g3i6KOjL68Iw63Ib1+5CqXpP4BmIgIEAF7fQOozBPR/3IBVQix
